.app.dark {
  background-color: #111;
  color: rgb(192, 191, 191);

  .widget,.featured,.chart{
    box-shadow:2px 4px 10px 1px rgb(35 35 35 / 47%);
  }
  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }
  .home .homeContainer .listContainer{
    box-shadow:2px 4px 10px 1px rgb(35 35 35 / 47%);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(213, 213, 213);
    }
  }

  .navbar {
    color: rgb(200, 199, 199);
    border-color: #333;

    .search {
      border-color: rgb(197, 195, 195);
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: rgb(200, 199, 199);
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: rgb(200, 199, 199);
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: rgb(188, 187, 187);
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
